<nav>
  <div class="nav-logo">Spheria Wiki</div>
  <div class="nav-center">
    <a href="/pages/overview.html">Overview</a>
    <a href="/pages/books.html">Books</a>
    <a href="/pages/characters.html">Characters</a>
    <a href="/pages/polyans.html">Polyans</a>
    <a href="/pages/world.html">World</a>
    <a href="/pages/settings.html">Places</a>
    <a href="/pages/factions.html">Factions</a>
    <a href="/pages/items.html">Items</a>
    <a href="/pages/mythos.html">Mythos</a>
    <a href="/pages/flora-fauna.html">Flora/Fauna</a>
    <a href="/pages/timeline.html">Timeline</a>
  </div>
  <div class="nav-right">
    <a href="https://www.codyleet.com" target="_blank" rel="noopener noreferrer"
      >Author's Site</a
    >
  </div>
</nav>
